@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

/* .logo {
  width: 5rem;
} */

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(to top, #2c2b2e, #16141b);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 93, 93);
}
/* :root {
  scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
  scrollbar-width: thin !important;
} */
@-moz-document url-prefix('') {
  html {
    overflow-y: scroll;
    scrollbar-color: rgb(78, 78, 78) rgb(41, 41, 41);
    scrollbar-width: thin;
  }
}
body {
  font-family: "Lato", sans-serif;
  background: #16141b;
  background: linear-gradient(to top, #2c2b2e, #16141b);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4,
h5 {
  margin: 0;
  display: inline;
}

.title {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 5rem;
}
.pokeball {
  height: 2rem;
  margin-right: 0.25rem;
  animation: bounce 0.3s linear infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}

.pokemon-logo {
  width: 15rem;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

h1 {
  color: #f1f1f1;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: rgb(54, 54, 54);
  background: linear-gradient(to bottom, rgb(43, 42, 42), rgb(27, 27, 27));
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  margin: 0.8rem;
  padding: 1.4rem;
  text-align: center;
  color: #f1f1f1;
  position: relative;
}

.pokemon .img-container {
  background: linear-gradient(
    to bottom,
    rgba(214, 214, 214, 0.3),
    rgba(77, 77, 77, 0.1)
  );
  /* background-color: rgba(255, 255, 255, 0.1); */
  box-shadow: 0 0 10px 10px rgba(202, 201, 201, 0.05);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 85%;
  margin-top: 1.5rem;
  filter: saturate(130%) brightness(110%);
}

.pokemon .info {
  margin-top: 1.1rem;
}

.number {
  background-color: rgba(145, 145, 145, 0.2);
  padding: 0.1rem 0.3rem;
  border-radius: 0.6rem;
  font-size: 0.8em;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  font-weight: bold;
}
.type-icon {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  padding: 0.5rem;
  height: 0.75rem;
  width: 1.2rem;
  background-color: #f1f1f1;
  border-radius: 1000px;
  cursor: help;
}

.name {
  margin: 1rem 0 0.3rem;
  text-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.9);
  /* background: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.5rem;
  border-radius: 500px; */
}

.basic-info {
  display: flex;
  justify-content: space-between;
}

.extra-info {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

small {
  opacity: 0.5;
}

.weight,
.height {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.1rem 0.4rem;
  border-radius: 0.6rem;
  display: block;
  margin: 0.25rem;
}

footer {
  color: #f1f1f1;
  margin: 1rem 0 0.5rem;
  display: flex;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #f1f1f1;
}

footer img {
  width: 4rem;
}

@media (max-width: 450px) {
  .pokemon-logo {
    all: revert;
    width: 9rem;
    margin-bottom: 1.5rem;
  }
  .pokeball {
    height: 1.5rem;
  }
  .title {
    top: 4.2rem;
  }
  .title h1 {
    font-size: 0.9rem;
  }

  .pokemon {
    height: 18.75rem;
    width: 10.5rem;
    margin: 0.5rem;
  }
  .pokemon .img-container {
    width: 8.5rem;
    height: 8.5rem;
    transform: translateX(-0.65rem);
  }
  .info {
    width: 8.5rem;
    transform: translateX(-0.65rem);
  }
  .type-data {
    margin-top: 0.5rem;
  }

  @-moz-document url-prefix('') {
    .pokemon {
      transform: scale(0.85);
      margin: 0;
    }
  }
}
